<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Dear {{name}}</p>
<p>welcome on our super-mega-system. Your userid is {{username}}.</p>
</body>
</html>